<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinema</title>
</head>
<body>
<h1>Film session list</h1>
<div th:each="filmSession : ${filmSessionList}">
    <h1 th:text="${filmSession.getFilm().getName()}"></h1>
    <a th:href="${filmSession.getFilm().getTrailerUrl()}">See a trailer!</a>
    <p th:text="'Date: ' + ${#temporals.format(filmSession.getDate(), 'yyyy-MM-dd HH:mm')}"></p>
    <a th:href="@{/session/page/} + ${filmSession.getId()}">Edit</a>
    <a th:href="@{/session/delete/} + ${filmSession.getId()}">Delete</a>

    <table>
        <tr>
            <th>Number of the place</th>
            <th>Number of the row</th>
            <th>Buy a ticket!</th>
        </tr>
        <tr th:each="place : ${filmSession.getPlaceList()}">
            <td th:text="${place.getNumberOfThePlace()}"></td>
            <td th:text="${place.getNumberOfTheRow()}"></td>
            <td>
                <div th:if="${place.isAvailable()}">
                    <a th:href="@{/session/ticket/} + ${place.getId()}">Buy a ticket</a>
                </div>
                <div th:if="${!place.isAvailable()}">
                    Place is bought!
                </div>
            </td>
        </tr>
    </table>
</div>
</body>