<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinema</title>
</head>
<body>
<h1 th:text="${place.getFilmSession().getFilm().getName()}"></h1>
<p th:text="'Cinema hall: ' + ${place.getCinemaHall()}"></p>
<p th:text="'Row: ' + ${place.getNumberOfTheRow()}"></p>
<p th:text="'Place: ' + ${place.getNumberOfThePlace()}"></p>
<form method="POST" th:action="@{/session/ticket/{placeId}(placeId=${place.getId()})}">
    <button type="submit" name="submit" value="Buy a ticket" class="link-button">Buy a ticket</button>
</form>
</body>
</html>